@model WikiSistemaASP.NET.Models.Modulo

<h3>@Model.Nome</h3>
<p>@Model.Descricao</p>

<h4>Tópicos</h4>
<ul class="list-group">
    @foreach (var topico in Model.Topicos)
    {
        <li class="list-group-item">
            <strong>@topico.Titulo:</strong> @topico.Conteudo
        </li>
    }
</ul>

<a asp-action="CreateTopico" asp-route-id="@Model.Id" class="btn btn-primary mt-3">Novo Tópico</a>
<a asp-action="Index" class="btn btn-secondary mt-3">Voltar</a>
